body {
    font-family: 'Muli', sans-serif;
}

h2, h4, p, span.text {
    color: rgb(68, 55, 45);
    font-family: 'Muli', sans-serif;
 }

 h3 {
    color: rgb(98, 129, 133)
 }

 div.exit-option h4 {
     margin-top: 1em;
     margin-bottom: 0.5em;
 }

header {
     text-align: center;
     margin: 2em;
}

h1 {
    color: rgb(98, 129, 133);
    font-family: 'Muli', sans-serif;
    font-size: 40px;
 }

div.outer-container {
    margin: auto;
    padding: 0;
    width: 400px;
    position: relative;
}

div.cup-card {
    margin: 0;
    border: 1px solid rosybrown;
    padding: 1em;
    width: 100%;
    height: auto;
    position: relative;
}

div.cup-card:hover {
    border: 1px solid rosybrown;
    padding: 1em;
    background: rosybrown;
    color: solid white;
    transition: all 0.4s ease 0s;
}

div.cup-card:hover span{
    color: white;
    transition: all 0.4s ease 0s;
}

fieldset {
    border: 1px solid rosybrown;
}

select {
    display: table;
    margin: 1em;
    width: 40%;
}

button {
    color: #696969;
    text-transform: uppercase;
    background: #ffffff;
    border: 3px solid #696969;
    margin-bottom: 1em;
    display: block;
    transition: all 0.4s ease 0s;
}

#new-cup-button {
    padding: 10px;
    font-size: 20px; 
    margin-left: auto;
    margin-right: auto;
}

button.exit-option, button.submit-button {
    padding: 6px;
    font-size: 12px;
}

button.submit-button {
    margin-left: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}

button:hover, input.delete-cup-button:hover, button.edit-cup-button:hover {
    color: #ffffff ;
    background: #696969;
    border-color: #696969;
    transition: all 0.4s ease 0s;
}

div.cup-content {
    position: relative;
    height: auto;
    margin: 0;
}

input.delete-cup-button, button.edit-cup-button {
    color: #696969;
    background: #ffffff;
    border: 2px solid #696969;
    transition: all 0.4s ease 0s;
    text-transform: uppercase;
    position: inline;
    margin-bottom: 0;
    float: right;
}

button.edit-cup-button {
    margin-bottom: 2px;
}

div.buttons {
    position: absolute;
    right: 0;
    bottom: 0px;
    width: auto;
}

input.text-input {
    display: table;
    margin: 1em;
    width: 40%;
}